{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "react-app"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "script"
  },
  "env": {
    "es6": true
  },
  "rules": {
    "no-trailing-spaces": [
      "error",
      {
        "skipBlankLines": true
      }
    ],
    "no-return-assign": 0,
    "eol-last": 0,
    "jsx-a11y/href-no-hash": 0


  }
}