.wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.dialogs {
  min-width: 400px;
  max-width: 500px;
  margin: 10px;
  padding: 10px;
  background: aliceblue;
}

.dialog {
  padding: 10px;
  border: 1px solid black;
}

//.chat {
//  width: 600px;
//  margin: 10px auto;
//  //padding: 20px;
//  //border-radius: 20px;
//  //background-color: aqua;
//}

.current {
  width: fit-content;
  max-width: 80%;
  margin-left: auto;
  text-align: right;
}

.other {
  width: fit-content;
  max-width: 80%;
  margin-right: auto;
  text-align: left;
}

.search_user {
  width: 600px;
  margin: 10px auto;
  padding: 30px;
  border-radius: 20px;
  background-color: aqua;
}

.search-form {
  display: block;
  text-align: center;
}

.messageInput > div > div > textarea {
  border-radius: 1px !important;
}