dist: trusty

language: java

jdk:
  - oraclejdk8

before_script:
   - npm install --prefix ./client/

script:
   - mvn clean test
   - npm run build --prefix ./client/

cache:
  directories:
    - $HOME/.m2
    - ./client/node_modules/


