.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 46px;
  height: 46px;
  margin-right: 20px;
  border-radius: 50px;
}

.rightNav {
  display: flex;
  align-items: center;
}