$color-bg: #e9967a;

body {
  padding: 10% 15%;
  background: $color-bg;
}

.header {
  padding: 10px 20px;
  background-color: black;
}

.header > a {
  padding-right: 20px;
  color: white;
  text-decoration: none;
}

.postCreator {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 30px auto;
}

textarea {
  resize: none;
  width: 80%;
  padding: 15px;
  border: none;
  border-radius: 15px;
}

.btn-create-post {
  padding: 15px;
  border-radius: 15px;
  background-color: yellow;
  color: blue;
  font-size: 18px;
}

.posts {
  width: 80%;
  margin: auto;
  padding: 10px 0;
}

.post {
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
  background: #719fc7;
}

header {
  display: block;
  position: relative;
  width: auto;
  height: 44px;
  padding: 10px;
  border-bottom: 1px solid grey;
}

.logo {
  display: inline-block;
  width: 46px;
  height: 44px;
  margin-right: 21px;
  float: left;
  border-radius: 50%;
}

.user_info {
  width: 108px;
  height: 44px;
  float: left;
  color: white;
}

.post_email {
  margin-bottom: 5px;
  color: #fff;
  font-size: 29px;
  font-weight: 600;
  line-height: 21px;
  text-align: left;
}

.data_info {
  display: block;
  position: relative;
  width: auto;
  height: 44px;
  float: right;
  color: white;
  text-align: right;
}

.user_fullname {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.date_created {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-top: 1px solid grey;
}

footer > a {
  cursor: pointer;
}

.like--checked {
  color: red;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &--fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}