$color-bg: #e9967a;

body {
  background: $color-bg;
  padding: 10% 15%;
}

.header {
  background-color: #000000;
  padding: 10px 20px;
  a{
    color: #ffffff;
    text-decoration: none;
    padding-right: 20px;
  }
}



.postCreator {
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
  width: 80%;
}

textarea {
  border: 0;
  border-radius: 15px;
  padding: 15px;
  resize: none;
  width: 80%;
}

.btn-create-post {
  background-color: #1f446a;
  border-radius: 15px;
  color: #f9fffd;
  font-size: 18px;
  padding: 15px;
}

.posts {
  margin: auto;
  padding: 10px 0;
  width: 80%;
}

.post {
  margin: 5px;
  padding: 10px;
  //border-radius: 15px;
  //background: #719fc7;
}

header {
  //display: block;
  //position: relative;
  //width: auto;
  //height: 44px;
  //padding: 10px;
  //border-bottom: 1px solid grey;
}

.logo {
  border-radius: 50%;
  display: inline-block;
  float: left;
  height: 44px;
  margin-right: 21px;
  width: 46px;
}

.user_info {
  color: #ffffff;
  float: left;
  height: 44px;
  width: 108px;
}

.post_email {
  color: #fff;
  font-size: 29px;
  font-weight: 600;
  line-height: 21px;
  margin-bottom: 5px;
  text-align: left;
}

.data_info {
  color: #ffffff;
  display: block;
  float: right;
  height: 44px;
  position: relative;
  text-align: right;
  width: auto;
}

.user_fullname {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.date_created {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

footer {
  border-top: 1px solid #8080800d;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  a {
    cursor: pointer;
  }
}



.like--checked {
  color: #ff0000;
}
