.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-move infinite 6s cubic-bezier(0.4, 0, 0.2, 1);
  animation-iteration-count: infinite;
  height: 80px;
  position: relative;
}

.menu {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

/*.menu:hover{*/
  /*height: 500px;*/
/*}*/
.menu-active{
  background-color: green;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-move {
  0% { left: 0; }
  25% { left: 60px; }
  75% { left: -60px; }
  100% { left: 0px; }
}


.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
}
